.header .logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
.header .menu button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-weight: 600;
  border: none;
}

.main-header {
  background-color: #036 !important;
}

.navbar .nav-link {
  color: #fff;
  font-size: 18px;
  margin: 0px 10px;
  font-family: "Rubik", serif;
}

.enroll-now {
  background-color: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0), 0 6px 20px rgba(18, 18, 18, 0.1019607843);
  color: #ff9416;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 18px;
  touch-action: manipulation;
  transition: box-shadow 0.2s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

.title h3 {
  font-size: 32px;
}

.enroll-yellow {
  background-color: #ff9416;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 18px;
  touch-action: manipulation;
  transition: box-shadow 0.2s;
}

.internship {
  background-color: #033567;
  padding: 50px 0;
}
.internship .icon {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 70px;
}
.internship h4 {
  color: #ff9416;
  font-size: 19px;
  font-weight: 700;
}
.internship .curriculam-btn {
  background: linear-gradient(90deg, #033567, #ff9416);
  border: 2px solid #ff9416;
  border-radius: 12px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: auto auto 0;
  padding: 7px 17px;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s;
}

.carrer h1 {
  color: #fff;
  font-size: 42px;
}
.carrer span {
  color: #ff9416;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
.carrer-program {
  background-color: #75849d;
  border-radius: 5px;
  padding: 10px 15px;
}
.carrer-program img {
  width: 40px;
}
.carrer-program h6 {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}

.voice-of-succes {
  background-color: #033567;
}
.voice-of-succes .success-video {
  background: #fff;
  padding: 15px;
}
.voice-of-succes .video-for-success {
  height: 250px;
}
.voice-of-succes h4 {
  font-size: 20px;
  margin-top: 15px;
}
.voice-of-succes h6 {
  color: #ff9416;
  font-size: 15px;
}
.voice-of-succes p {
  color: #000;
  font-size: 14px;
  margin: 0;
}

.marque-section {
  background-color: #033567;
}

.explore-courses {
  align-items: center;
  background-image: url(https://summers.upflairs.com/static/media/Banner-BG-NEW.5afa0173c0af4ca328f5.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 360px;
  position: relative;
}
.explore-courses:before {
  background-color: rgba(0, 51, 102, 0.6);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.explore-courses h4 {
  font-size: 40px;
  margin: 0 auto;
  width: 70%;
}
.explore-courses__details {
  color: #fff;
  position: relative;
}

.registeration .form-nav-num {
  background: #036;
  border-radius: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  margin: 10px 6px;
}
.registeration .form-input {
  border-color: #036;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
.registeration .form-select-input {
  padding: 0.5rem 1rem;
  width: 100%;
}
.registeration select {
  word-wrap: normal;
}
.registeration .form-row {
  gap: 0.5rem;
}
.registeration .form-row,
.registeration .form-sub-div {
  display: flex;
  flex-direction: column;
}
.registeration .form-label {
  color: #036;
  font-weight: 600;
}
.registeration .form-div {
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 1rem;
}
.registeration .form-submit-btn {
  background-color: #ff9416;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.registeration .CounSec ul li {
  border: 1px solid rgba(255, 148, 22, 0.4196078431);
  border-radius: 10px;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  width: 19%;
}
.registeration .CounSec ul li .icn {
  margin-bottom: 20px;
}
.registeration .CounSec ul li .icn img {
  width: 70px;
}
.registeration .CounSec ul li .con h3 {
  font-size: 25px;
  font-weight: 600;
}
.registeration .CounSec ul li .con p {
  font-size: 23px;
}
.registeration .CounSec ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}
.registeration .CounSec {
  padding: 80px 0px 50px 0px;
}

.gallery {
  background-color: #033567;
}
.gallery .holder-left img {
  cursor: pointer;
  display: block;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery .image-holdermiddle-top {
  height: 320px;
}
.gallery .image-holdermiddle-top img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */